html
{
    background-image: url(../img/backround.png);
    width: auto;
}
body{
   
    width: 50%;
    margin: auto;
    margin-top: 250px;
    
}

.clearfix{
    overflow: hidden;
}

 div.gallery {
    
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.gallery img {
    display: inline;
    margin: 5px;
  }
#images{
    background-color: #600502;
    border-color: #600502;
}
.footer{
    text-align: center
}
@media (max-width: 600px) {
    body{
   
        width: 80%;
    }
}