html
{
    background-image: url(../img/main_menu\ \(2\).png);
    width: auto;
}
body{
    background-color: #f8b4b4;
    width: 50%;
    margin: auto;
    margin-top: 60px;
    
}
.navLogo{
    display: block;
    margin: auto;
    padding: auto;
   
}
.navLogo2{
    display: block;
    margin: auto;
    padding: auto;
    width: 10%;
   
}
nav{
    text-align: center;

}
#splash{
    float: left;
    display: block;
    margin: auto;
    padding: auto;
    margin-left: 10px;
    margin-right: 10px;
}
#welcome{
    display: inline;
   font-size: larger;
   text-align: center;
}
.clearfix{
    overflow: hidden;
}
ul{
    display: inline;
    text-align: center;
}
hr{
    border: solid #600502;
 }
 div.gallery {
    
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.gallery img {
    display: inline;
    margin: 5px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  hr#red{
   background-color: red;
  }
#images{
    background-color: #600502;
    border-color: #600502;
}
.footer{
    text-align: center
}
@media screen {
    @media (max-width: 600px) {
        body {
    
            width: 80%;
            margin: auto;
            margin-top: 100px;
            
        }
    
        div.gallery img {
            width: 50%;
            height: 10%;
            margin: auto;
            padding: auto;
            padding-left: 65px;
        }
        div.gallery video {
            width: 100%;

        }
        div#mainlogo{
            width: 90%;
            height: 10%;
        }
        div#mainlogo .navLogo{
            display: none;

        }
    }
}